
@*@model QTC.Dashboard.WebApp.Views.ErrorTable.IndexModel
*@

@model Qtc.Dashboard.ViewModelLayer.Dashboard.DashboardViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	//ViewData["Title"] = Model.orgName+"-"+Model.appName; // create the title on the page tab
}

<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <!-- Display the purple header on top of the table-->
            @*<h6 class="m-0 font-weight-bold text-primary">@Model.orgName - @Model.appName</h6>*@
        </div>
        <div class="card-body">
            <div class="table-responsive-xl">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @* Print all the headers on the error page *@
                            @foreach(var item in Model.headers){
                                <td>@item</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach(var error in Model.ListOfErrors)
                            {
                                <tr>
                                    <td class="application-name">@error.ApplicationName</td>
                                    <td>@error.Layer</td>
                                    <td>@error.Module</td>
                                    <td>@error.Alert</td>
                                    <td>@error.AlertTeam</td>
                                    <td class="severity">@error.Severity</td>
                                    <td>@error.ServerName</td>
                                    <td>@error.ErrorCode</td>
                                    <td class="message">@error.ErrorMessage</td>
                                    <td class="date">@error.ErrorDate</td>
                                    <td>@error.User</td>
                                    <td><a class="btn-link graymodernText" data-bs-toggle="modal" data-bs-target="#readModal" title="View record"> <i class="fa fa-eye"></i></a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                @* Modal - View error *@
                <div class="modal fade" id="readModal">
                    <div class="modal-dialog">
                        @* Modal content*@
                        <div class="modal-content">
                            @* Header *@
                            <div class="modal-header bg-gradient-primary">
                                <h4 class="modal-title text-gray-300" id="modal-title"></h4>
                            </div>
                            @* Body *@
                            <div class="modal-body bg-gray-100 align-middle">
                                <p class="text-gray-800 px-3" id="modal-message">BODY</p>
                            </div>
                            @* Footer *@
                            <div class="modal-footer bg-gray-100">
                                <p class="text-left" id="modal-date"></p>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->